@page
@model CalculateModel

@{
    ViewData["Title"] = "Calculate";
}

<h1>Calculate</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Calculation.CalculationTypeId" class="control-label">Calculation Type</label>
                <select asp-for="Calculation.CalculationTypeId" class="form-control" asp-items="ViewBag.CalculationTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Calculation.BeforeValue" class="control-label">Value</label>
                <input asp-for="Calculation.BeforeValue" class="form-control" />
                <span asp-validation-for="Calculation.BeforeValue" class="text-danger"></span>
            </div>
            @if (Model.AfterValueInt > 0)
            {
                <div class="form-group">
                    <label class="control-label">Calculated value: @Model.AfterValueInt</label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
